@media screen and (min-width: 1000px) 
{
 nav
  {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .menu li:first-child
    {
        display: none;
    }
    .menu li
      {
          display: inline-block;
          font-size: 25px;
          font-family: 'Oswald', sans-serif;
          text-align: center;
          margin: 0;
          padding: 5px;
      }
    .forecast tr td
      {
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
      }
      .articleimg
      {
          float: right;
          position: relative;
          max-width: 300px;
          width: auto;
      }
    .prestonmap
    {
        display: flex;
        position: relative;
        max-width: 300px;
        width: auto;
    }
      .forecast
      {
        display:block;
        width: fit-content;
        margin: auto;
        text-align: center;
        border-collapse: collapse;
      }
    table
      {
        margin: auto;
        margin-bottom: 20px;
        border-spacing: 0;
      }
    th, td
    {
        border: 1px solid black;
        text-align: center;
        font-size: 20px; 
        font-family: 'Open Sans Condensed', sans-serif;
        color: black;
    }
      th
      {
        background: #64b4e6;
        padding: 0;
      }
      td 
    {
        width: 60px;
        height: 60px;
        padding: 0;
    }
.gallery
    {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 900px;
      width: 100%;
    }
.townstats
    {
      display: grid;
      margin: auto;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 900px;
      width: 95%;
    }
div > .images:hover
    {
      box-shadow: 0 0 40px black; 
    }


} 