*
    {box-sizing: border-box;}
header
    {
        display: flex;
        justify-content: center;
        font-size: 45px;
        font-family: 'Oswald', sans-serif;
        background-color: #0a2a67;
        color: #74d315;
        text-align: center;
        padding: 25px;  
    }
body
    {
        margin: 0;
        box-sizing: border-box;
    }
h1 
    {
        font-size: 35px; 
        font-family: 'Oswald', sans-serif;
        color: #74d315;
    }
h2 
    {
        font-size: 30px; 
        font-family: 'Oswald', sans-serif;
        color: black;
        text-align: center;        
    }
h3 
    {
        font-size: 25px; 
        font-family: 'Oswald', sans-serif;
        color: black;
    }
main
    {
        max-width: 900px;
        margin:0 auto; 
    }
ul
    {
        /*display: flex;
        justify-content: center;*/
        list-style-type: none;
        margin: auto;
        padding: 0;
        width: 100%;
    }

p   
    { 
        font-size: 20px; 
        font-family: 'Open Sans Condensed', sans-serif;
        color: black;
    }
nav 
    {
        margin: auto;
        text-align: center;
        width: 100%;
        padding: 5px;
        background-color: #eeeedb;
        color: black;
        display: inline-block;
    }
article
    {
        background-color: #64b4e6;
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
article h2
    {
        text-align: left;
    }
article h4
    {
        font-family: 'Open Sans Condensed', sans-serif;
    }
footer p
    {
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-family: 'Oswald', sans-serif;
        background-color: #0a2a67;
        color: #74d315;
        text-align: center;
        margin: 0 auto;
        /*max-width:900px;*/
        width:100%;
        padding: 5px;
    }
footer a
    {
        color: #74d315;
    }
/*-------------FORM-------------*/
form fieldset
    {
        border: 2px ridge #0a2a67;
        font-family: 'Oswald', sans-serif;
        border-radius: 5px;
        padding: 8px;
        font-size: 20px;
        margin: 10px;
    }
form legend
    {
        color: #eeeedb;
        background-color: #0a2a67;
        padding: 4px;
    }
form label.sbs
    {
        display: block;
        padding: 5px 0;
    }
form label.top, form div
    {
        display: block;
        padding-top: 1rem;
        font-size: 15px;
    }
form label.top input, form label.top select, textarea
    {
        display: block;
        width: 100%;
        max-width: 400px;
        padding: .75rem;
        border-radius: 5px;
        border: 1px solid #0a2a67;
        background: #eeeedb;
    }
textarea
    {
        padding: 0;
        /*padding-top: 1rem;*/
    }
/*form label.top input:active, form label.top select:active
    {
       border: 2px dashed #0a2a67;
    }*/
form label.top input:required
    {
        border-left:orangered solid 5px;
    }
form label.top input:required:valid
    {
        border-left: #74d315 solid 5px;
    }
form input.submitBtn
    {
        padding: .75rem 1.5rem;
        margin: 20px 0 5px 0;
        color: #eeeedb;
        background-color: #0a2a67; 
        border-radius: 5px;
        border: none;
    }
.danger
    {
        font-size: 15px;
    }
.thanks
    {
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-align: center;
        width: 100%;
        padding: 15px;
        background-color: #eeeedb;
        color: #0a2a67;
        margin: 0 auto;
    }
/*-------------END FORM-------------*/
.lightning
    {
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
        width: 90%;
    }
.forecast
    {
        display: none;
    }
/*homepage town stats*/
.townstats article, .townstats img, .townstats article p, .townstats article h2, .townstats article h3
    {
        display: grid;
        margin: auto;
        padding: 5px;
        text-align: center;
        max-width: 900px;
        width: 90%;
        background-color:#eeeedb;
    }
.townstats article
    {
        border: 1px solid #0a2a67;
        border-collapse: collapse;
        padding: 5px;
        margin: 0 auto;
    }

.townstats h3
    {
        margin: 7px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }
.townstats p
    {
        margin: 2px;
        max-height: 75%;
    }
/*homepage town stats*/
.contact
    {
        display: block;
        /*justify-content: center;*/
        background-color: #0a2a67;
        color: #74d315;
        width: 100%;
    }
.contact h2
    {
        display: block;
        background-color: #0a2a67;
        color: #74d315;
    }
.contact p
    {
        display: flex;
        justify-content: center;
        background-color: #0a2a67;
        color: #74d315;
        text-align: center;
        margin: 0 auto;
        /*max-width: 900px;*/
        width: 100%;
    }
/*.contact img
    {
        /*display: block;
        display: flex;
        margin: 0 auto;
        padding: 20px;
        width: 100%;
    }*/
.prestonmap
    {
        display: flex;
        margin: 0 auto;
        padding: 20px;
        width: 100%;
    }
article .motto
    {
        text-align: left;
        margin: 0;
        padding: 0;
    }
.articleimg
    {
        max-width: 600px;
        display: block;
        margin: 0 auto;
        width: 90%;
    }
.logo
    {
        display: inline-block;
        height: 120px;
    }
.title
    {
        display: inline-block;
        vertical-align: top;
    }
#heroimg
    {
        display: flex;
        margin: 0 auto;
        width: 100%;
    }
.herodiv
    {
        margin: auto;
        position: relative;
    }
.currentdate
    {
        margin: 0 auto;
    }
.stats
    {
        position: absolute;
        text-align: right;
        top: 25px;
        left: 50px;
        max-height: 75%;
        background: #64b4e6;
        border: 1px solid #eeeedb;
        box-shadow: 0 0 30px #ffffff;    
    }
.stats p
    {
        margin: 2px;
        max-height: 75%;
    }
.stats h3
    {
        margin: 7px;
        text-align: center;
        text-decoration: underline;
    }

.menu
    {
        list-style: none;
        text-align: center;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        color: #000000;  
        text-decoration: none; 
    }
.menu li:first-child
    {
        display: block;
    }
.menu li
    {
        display: none;
    }
.menu a 
    {
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        background-color: #eeeedb;
        text-align: center;
        display: block;
        padding: 5px;
        color: #000000;  
        text-decoration: none; 
    }
.responsive li
    {
        display: block;
    }
li a.active
    {
        background-color: #0a2a67;
        color: #eeeedb;
    }
a:visited
    {
        color: #0a2a67;
    }
a:hover 
    {
        text-decoration: underline;
        color: #74d315;
    }
a:active
    {
        background-color: #0a2a67;
        color: #eeeedb;
    }
footer p a.visited
{
    color: #eeeedb;
}
.motto
    {
        font-size: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #eeeedb;
        text-align: center;
        margin: auto;
    }
.events
    {
        background-color: #64b4e6;
    }
.events li
    {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
        padding: 2px;
    }
.events h2
    {
        margin: 0;
        text-align: left;
        padding-left: 10px;
    }
.gallery
    {
        display: grid;
        font-family: 'Oswald', sans-serif;
        margin: 0 auto;
        width: 100%;
    }
.images img
    {
        width: 100%;
    }
figcaption
    {
      text-align: center;
      margin: 0;
    }
#openweathermap
    {
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
    }