@media screen and (min-width: 1000px) 
{
    nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: stretch;
    }
    .menu li:first-child{
        display: none;
    }
    .menu li{
        display: inline-block;
        justify-content: center;
        max-width: 100%;
        font-size: 25px;
        font-family: 'Hind Siliguri', sans-serif;
        text-align: center;
        margin: 0 auto;
        padding: 5px;
    }
    .button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 

}