* {
    box-sizing: border-box;
}
h1, dt{
    font-family: 'Great Vibes', cursive;
    color: #4f8c8c;
    font-size: 45px;
}
main {
    max-width: 85%;
    margin: auto;
}
.contact {
    display: block;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    color: #fff6f4;
    background-color: #4f8c8c;
    text-align: center;
    max-width: 100%;
    /*font-size: 55px;*/
}
header h1 {
    color: #fff6f4;
    text-align: center;
    font-size: 55px;
}
.title{
    display: inline-block;
    vertical-align: top;
}
h2 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 35px;
    color: black;
}
h3 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 30px;
    color: black;
}
p, dd, li{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
li {
    display: flex;
}
nav {
    margin: auto;
    text-align: center;
    max-width: 100%;
    padding: 5px;
    background-color: #f7d5d6;
    color: black;
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    color: #fff6f4;
    background-color: #4f8c8c;
}
a {
    color: #4f8c8c;
    font-size: 25px;
    font-family: 'Hind Siliguri', sans-serif;
    text-decoration: none;
}
li a {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
    list-style: none;
}
/*----------------Form Setup----------------*/
form fieldset {
    display: flex;
    flex-direction: column;
    border: 2.5px groove #4f8c8c;
    font-family: 'Hind Siliguri', sans-serif;
    border-radius:10px;
    padding: 10px;
    margin: 10px auto;
    max-width: 95%;
    font-size: 25px;
}
form legend {
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    color: #fff6f4;
    background-color: #4f8c8c;
    padding: 5px;
}
form label, form div {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    padding-top:1rem;
    /*padding: 10px;*/
}
form label input, form label select, textarea {
    width: 100%;
    padding: .75rem;
    margin: 10px auto;
    background: #f7d5d6;
    border: 2px solid  #4f8c8c;
}
form label input:required, form label select:required {
    border-left: red solid 3px;
}
form label input:required:valid, form label select:required:valid {
    border-left: #4f8c8c solid 3px;
}
/*----------------Form Setup----------------*/
.motto {
    font-family: 'Great Vibes', cursive;
    color: #fff6f4;
    background-color: #4f8c8c;
    font-size: 35px;
}
.logo{
    display: inline-block;
    height: 150px;
    margin: 10px 10px 0 0;
}
.reception {
    display: flex;
    justify-content: center;
    max-width: 95%;
}
.receptionheader {
text-align: center;
padding: 15px;
margin: 0 auto;
}
.menu {
    list-style: none;
    text-align: center;
    font-size: 25px;
    font-family: 'Hind Siliguri', sans-serif;
    color: #000000;  
    text-decoration: none;
}
.menu li:first-child {
    display: block;
}
.menu li {
    display: none;
}
.menu a {
    font-size: 25px;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #f7d5d6;
    text-align: center;
    display: block;
    padding: 0 5px 0 5px;
    color: #000000;  
    text-decoration: none; 
}
.responsive li {
    display: block;
}
.templepics {
    max-width: 600px;
    display: block;
    margin: 10px auto;
    width: 90%;
}
.temples {
    display: grid;
    grid-template-columns: 1fr;
    }
.templehead {
    max-width: 100%;
    padding: 10px;
    font-family: 'Great Vibes', cursive;
    background-color: #4f8c8c;
    color: #fff6f4;
    font-size: 45px;
    text-align: center;
}
.temples p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    max-width: 80%;
    margin: auto;
    padding: 5px 0 5px 0;
    text-align: center;
}
button{
    border-radius: 8px;
    width: 90%;
}
input[type=submit] {
    border-radius: 8px;
}
button:hover {
    box-shadow: 0 10px 15px 0 #4f8c8c;
}
.button {
    display: grid;
    grid-template-columns: 1fr;
}
.subreservation {
    background-color: #f7d5d6;
    color: black;
    padding: 15px;
    margin: 15px auto;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;

}
li a.active
    {
        background-color: #000000;
        color: #f7d5d6;
    }
a:visited
    {
        color: darkblue;
    }
a:hover 
    {
        text-decoration: underline;
        color: #4f8c8c;
    }
a:active
    {
        background-color: #000000;
        color: #f7d5d6;
    }
footer .resource {
    color: white;
}
footer a:hover {
    color: white;
}
footer a:visited {
    color: rgb(211, 211, 211);
}
