@media screen and (min-width: 700px)
{
nav
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.menu li:first-child
{
    display: none;
}
.menu li
  {
      display: inline-block;
      font-size: 25px;
      font-family: 'Oswald', sans-serif;
      text-align: center;
      margin: 0;
      padding: 5px;
  }
.gallery
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    width: 100%;
  }


}