* 
{
    font-family: 'Ubuntu', sans-serif;
    padding: 9px;
}
table
{
    box-shadow: 10px 10px 10px  #628ca6;  
}
table, th, td
{
    border: 1px solid darkgray; 
    border-collapse: collapse;
    text-align: center;     
}
/*header and footer*/
thead th
{
    background-color: #7fb9c2;
    color: black;
}
/*ACME Wildwest header*/
thead th
{
    font-size: 33px;
    /*font-weight: bold;*/
}
/*Period, Sales, Sales Goal header row*/
tbody tr th
{
    font-size: 22px;
    /*font-weight: bold;*/
}
/*all th elements*/
th
{
    background-color: #628ca6;
    color: white;
}
tr
{
    background-color: #e7f0ed;
}
tr td
{
    font-size: 21px;
}
/*table footer*/
tfoot th
{
    font-size: 16px;
    background-color: #7fb9c2;
    color: black;
}
/*odd number table rows*/
tr:nth-child(odd) 
{
    background-color: #e7ffed;
}
.blackfriday
{
    font-style: italic;
}